{:paths ["src" "resources"]
 :bbin/bin {tower-setup {:main-opts ["-m" "bb-tower-deploy.core"]}}
 :tasks {setup-tower {:doc "Setup Tower deployment (creates Towerfile and Python wrapper)"
                     :task (bb-tower-deploy.core/setup {})}}}